body {
  width: 375px !important;
  height: 600px !important;

  background: #f3f3f3;

  &.body-full {
      width: 100% !important;
      height: 100% !important;
  }
}

.notification-container-mobile-bottom {
	bottom: 65px;
}