body {
  width: 375px !important;
  height: 600px !important;
  margin-bottom: 65px;

  background: $medium-gray;

  &.body-full {
      width: 100% !important;
      height: 100% !important;
  }
}

.notification-container-mobile-bottom {
	bottom: 65px;
}