.bottom-nav {
  border-top: 1px solid $black;
  @include position-fixed-bottom();

  &__list {
    @include xy-grid();
    background-color: $white;
    height: 60px;
    margin: 0;
  }

  &__item {
    @include xy-cell("auto");

    padding: 0.5em;
    cursor: pointer;
    color: $medium-gray;

    &:hover {
      background-color: $light-gray;
    }

    &.active {
      color: $primary-color;
    }

    i {
      font-size: 2em;
    }

    * {
      display: block;
      text-align: center;
      margin: auto;
      padding: 0;
    }
  }
}
