footer.body-footer {
  border-top: 1px solid $black;
  @include position-fixed-bottom();
  @include xy-grid();

  background-color: $white;
  height: 60px;

  & > div {
    @include xy-cell('auto');

    padding: 0.5em;
    cursor: pointer;
    &:hover {
      background-color: $light-gray;
    }
    &.active p {
      color: $primary-color;
    }
  }

  p {
    text-align: center;
    color: $medium-gray;
    margin: 0;
    padding: 0;
    i {
      font-size: 2em;
    }
  }
}
