$pivotal-background: #f1f0ea;

.story.expanded {
  background-color: $pivotal-background;
  section.story_details {

    section.story_header {

      .collapser {
        background-size: 13px 13px;
        background-repeat: no-repeat;
        background-image: url(https://assets.pivotaltracker.com/next/assets/next/532d5b5f-collapser.png);
        background-color: transparent;
        border: none;
        cursor: pointer;
        -ms-flex: 0 0 13px;
        flex: 0 0 13px;
        margin-top: 4px;
        padding: 4px 0 0;
        position: relative;
        width: 13px;
      }

      .story-name-textarea {
        resize: none;
        padding: 0;
        min-height: 26px;
      }

      a.open-story {
        background-color: #f6f6f6;
        border-radius: 4px;
        border: 1px solid #ccc;
        cursor: pointer;
        -ms-flex: 0 0 22px;
        flex: 0 0 22px;
        height: 22px;

        &::before {
          content: "";
          float: left;
          background: url(https://assets.pivotaltracker.com/next/assets/next/69f61d42-maximize-arrow.svg) no-repeat 50%;
          opacity: .5;
          transition: .25s;
          height: 100%;
          width: 100%;
          display: block;
        }
      }
    }
  }
}