$pivotal-background: #f1f0ea;

.story.expanded {
  background-color: $pivotal-background;

  select {
    margin: 0;
    padding: 0;
    height: auto;
  }

  textarea {
    margin-bottom: 0;
  }

  /**
   * Includes the story basic informations
   */
  section.story_details {

    /**
     * Includes the first line (collapsing arrow, story name, story link)
     */
    section.story_header {
      .collapser {
        background-size: 13px 13px;
        background-repeat: no-repeat;
        background-image: url(https://assets.pivotaltracker.com/next/assets/next/532d5b5f-collapser.png);
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: 6px;
        padding: 0;
        position: relative;
        width: 13px;
      }

      .story-name-textarea {
        resize: none;
        padding: 0;
        min-height: 26px;
      }

      a.open-story {
        background-color: #f6f6f6;
        border-radius: 4px;
        border: 1px solid #ccc;
        height: 26px;
        width: 26px;

        &::before {
          content: "";
          float: left;
          background: url(https://assets.pivotaltracker.com/next/assets/next/69f61d42-maximize-arrow.svg) no-repeat 50%;
          opacity: .5;
          transition: .25s;
          height: 100%;
          width: 100%;
          display: block;
        }
      }
    }

    .focused {
      background-color: #d8d8d8;
    }
    /**
     * info_box_wrapper: used for the 2 "tables"
     */
    .info_box_wrapper {
      background-color: $white;
      border-radius: 3px;
      border: 1px solid #ccc;
      margin-top: 4px;
      margin-bottom: 4px;

      > .row {
        // padding: 3px;
        border-bottom: 1px solid #ccc;
        padding-left: 3px;
      }

      // .dropdown-pane.owners {
      //   ul {
      //     width: 100%;
      //     margin: 0;
      //     li {
      //       padding: 5px;
      //       list-style-type: none;
      //       border-top: 1px solid black;
      //       border-bottom: 1px solid black;
      //       width: 100%;
      //       &:hover {
      //         background-color: $light-gray;
      //       }
      //     }
      //   }
      // }
    }
  }

  .blockers, .tasks {
    .add-blocker, .add-task {
      -ms-flex-align: center;
      align-items: center;
      background: #e9e8e0;
      border-radius: 4px;
      color: #717170;
      cursor: pointer;
      display: -ms-flexbox;
      display: flex;
      font-size: 12px;
      margin: 0px 4px 0px 4px;

      &:hover {
        background: #e3e2d8;
      }

      svg {
        margin-left: 8px;
      }

      .add-blocker-message, .add-task-message {
        margin: 10px;
      }
    }
  }

  .description {
    .description-html {
      &.edit {
        background-color: inherit;
      }

      background-color: #fff;
      border: 1px solid #ccc;
      box-sizing: border-box;
      cursor: text;
      font-size: 12px;
      line-height: 18px;
      margin: 0 4px 0 4px;
      min-height: 52px;
      padding: 12px;
      border-radius: 3px;
      word-wrap: break-word;

      &:focus {
        outline: none;
        border: 1px solid #cde5ff;
        box-shadow: 0 0 1px 2px #83beff;
      }
    }
  }

  .activity {
    .comments {
      border-bottom: 1px solid #ccc;

      .comment-date {
        margin-left: 5px;
      }
    }
  }

  .owners {
    .badge {
      margin-right: 0.2rem;
    }
  }
}
