.accordion-content {
  margin: 0;
  padding: 0;
}

.story-list {
  border-top: 1px solid grey;
  background-color: white;
  margin: 0 0 0 0;
  padding: 0;

  .story {
    margin: 0;
    padding: 10px;

    cursor: pointer;
    // height: 50px;
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid grey;
  }

  .story-details {
    background-color: #f3f3f3;
  }

  .story-description {
    border: 3px solid #00a8a0;
    border-radius: 5px;
  }
}
