.accordion-content {
  margin: 0;
  padding: 0;
}

.story-list {
  border-top: 1px solid $medium-gray;
  background-color: $white;
  margin: 0;
  padding: 0;

  .story {
    margin: 0;
    padding-left: 10px;

    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid $medium-gray;

    .blocker-resolved {
      text-decoration: line-through;
    }
    :hover {
      background-color: $light-gray;
    }
  }

  .story-small {
    > .small-9 {
      cursor: pointer;
    }
  }

  .story-details {
    background-color: $light-gray;
  }

  .story-description {
    border: 3px solid #00a8a0;
    border-radius: 5px;
  }
}

.close-modal {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  cursor: pointer;
}

.harvest-iframe-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 0.75rem;
}
.harvest-overlay-modal {
  @include reveal-overlay();
  display: block;
}
.harvest-modal {
  @include reveal-modal-base;
  display: block;
  background: transparent;
  border: none;
}