.accordion-content {
  margin: 0;
  padding: 0;
}

.story-list {
  border-top: 1px solid $medium-gray;
  background-color: $white;
  margin: 0;
  padding: 0;

  .story {
    margin: 0;
    width: 100%;
    list-style-type: none;
    border-bottom: 1px solid $medium-gray;

    .blocker-resolved {
      text-decoration: line-through;
    }

    &.collapsed {
      :hover {
        background-color: $light-gray;
      }

      > .auto {
        cursor: pointer;
      }

      .harvest-timer {
        &.running {
          background-color: $success-color;
        }
      }
    }
  }
}
